.todo {
    background: #fff;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.complete {
    text-decoration: line-through;
    }

button {
    border-radius: 3px;
    margin-right: 3px;
}